@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

$font-family: 'Open Sans', sans-serif;
$text-color: #f4f4f4;
$primary-color: rgb(253, 99, 99);
$secondary-color: rgb(32, 32, 32);

.btn-options {
	display: flex;
	align-items: center;
	justify-content: left;
	height: 70px;
	width: 100%;
	margin-top: 20px;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 44px;
	width: 120px;
	text-decoration: none;
	background-color: transparent;
	// border: 2px solid $secondary-color;
	border-radius: 15px;
	color: $text-color;
	background-color: $secondary-color;
	&-primary {
		margin-right: 30px;
	}
	&:hover {
		background-color: white;
		color: $secondary-color;
		transition: 0.3s ease-out;
	}
}
